{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chá de Bebê</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">
  </head>
  <body>
    <header>
      <h1>Nosso Chá de Bebê</h1>
    </header>
    <main>
      
      <section class="presentes">
        <h2>Presentes</h2>
        <p>
            Sua presença é o nosso maior presente, mas se quiser contribuir com algo, aqui estão algumas sugestões:
        </p>
    
        <ul>
            {% for item in itens %}
            <li>
                <input type="checkbox" name="presentes" id="presente{{ item.id }}" value="{{ item.id }}" />
                <label for="presente{{ item.id }}">{{ item.nome }}</label>
                <span class="quantidade">Quantidade: {{ item.quantidade }}</span>
            </li>
            {% endfor %}
        </ul>
    </section>
    

    <section class="confirmacao">
      <h2>Confirmação</h2>
      
      <form action="/" method="POST">
          {% csrf_token %}
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" />

          <label for="telefone">telefone:</label>
          <input type="tel" id="telefone" name="telefone" />
          
          <input type="hidden" id="pedidos" name="pedidos" value="" /> <!-- Campo oculto para armazenar os IDs dos pedidos -->
          <button type="submit" onclick="getSelectedItems()">Confirmar</button>
      </form>
  </section>
  <script>
    function getSelectedItems() {
        var selectedItems = document.querySelectorAll('input[name="presentes"]:checked');
        var selectedIds = [];
        selectedItems.forEach(function(item) {
            selectedIds.push(item.value);
        });
        document.getElementById('pedidos').value = selectedIds.join(',');
        return true; // Permite que o formulário seja enviado após a execução da função
    }
</script>

    </main>
  </body>
</html>
